<div class="card-container p-12">
  <div class="card">
    <app-cv-part>
      <div>
        <div class="sm:flex">
          <div class="sm:shrink-0">
            <img
              class="h-full w-full object-cover sm:h-full sm:w-48"
              src="./assets/img/profilePicture.jpg"
              alt="Ma photo de profil"
            />
          </div>
          <div class="p-8">
            <div class="font-bold text-xl mb-2">Matthis DUPONT</div>
            <h3>Developpeur fullstack - Freelance</h3>
            <p><strong>Localisation : </strong>Lyon, France</p>
            <p><strong>Mail : </strong>matthis.dupont1997&#64;gmail.com</p>
          </div>
        </div>
      </div>
    </app-cv-part>
  </div>

  <div class="lg:flex lg:gap-4">
    <div>
      <div class="card">
        <app-cv-part>
          <div class="p-8">
            <strong>Formation</strong>
            <p>février 2018 - juin 2018 : Université Carlos III Madrid</p>
            <p>
              septembre 2014 - août 2019 : Institut National des Sciences
              Appliquées (INSA) de Rouen - Formation d'ingénieur en Architecture
              des Systèmes d'Information (ASI)
            </p>
          </div>
        </app-cv-part>
      </div>
      <div class="card">
        <app-cv-part>
          <div class="p-8">
            <h2>Langues</h2>
            <p><strong>Français : </strong>Langue maternelle</p>
            <p><strong>Anglais : </strong>C1 - TOEIC 915 (2017)</p>
            <p><strong>Espagnol : </strong>B1/B2</p>
            <p><strong>Allemand : </strong>A2/B1</p>
          </div>
        </app-cv-part>
      </div>
    </div>
    <div class="card">
      <app-cv-part>
        <div class="p-8">
          <strong>Expériences professionnelles</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </app-cv-part>
    </div>
  </div>
  <div class="card">
    <app-cv-part>
      <div class="p-8">
        <h2>Compétences</h2>
        <p><strong>Angular : </strong>90</p>
        <p><strong>HTML / CSS : </strong>90</p>
        <p><strong>Java / Spring : </strong>70</p>
        <p><strong>SQL : </strong>70</p>
        <p><strong>NodeJs : </strong>70</p>
        <p><strong>RxJS / NgRx : </strong>80</p>
        <p><strong>Jest / Jasmine : </strong>75</p>
        <p><strong>CI/CD : </strong>60</p>
      </div>
    </app-cv-part>
  </div>
  <div class="card">
    <app-cv-part>
      <div class="p-8">
        <h2>Centres d'intérêts</h2>
        <p><strong>Sports : </strong>Football / Kayak</p>
        <p><strong>Jeux : </strong>Poker / Echecs / Jeux vidéos</p>
      </div>
    </app-cv-part>
  </div>
</div>
